*.js
!packages/node-whisper-wasm/index.js
!packages/node-whisper-wasm/worker.js
packages/node-whisper-wasm/whisper-node.wasm
.DS_Store
*.log
node_modules/
build/
*.bin
coverage/
tmp.sess
/externals/
*.node
package-lock.json
.cache
